@model List<ledcity.Models.Order>
@{
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h3>All Customers</h3>
<div class="table-responsive col-lg-6">
    <table class="table table-hover">
        <tr style="font-weight:bold">
            <td>#  </td>
            <td>  Name</td>
            <td>  Email</td>
            <td>  Password</td>
            <td>  Phone</td>
            <td>  Date</td>
        </tr>

        @foreach (var r in Model)
        {


            <tr>
                <td>@r.Id</td>
                <td>@r.Name</td>
                <td>@r.Email</td>
                <td>@r.Modelo</td>
                <td>@r.Phone</td>
                <td>@r.Date</td>
            </tr>

        }
    </table>

        <div>
            <form method="post" action="DeleteCUS">
                <label id="cus">Customer ID: </label>

                <input type="text" name="ID" id="ID" placeholder="Enter Customer ID" />
                <button type="submit" name="del" id="del"> Delete</button>
            </form>
        </div>
</div>
